<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admisiones - Escuela San Jorge</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
    <a id="top"></a>
    <div class="arriba"><a href="#top" class="arriba">Ir arriba</a></div>
    <main>
        <section class="banner-admision">
            <a class="inicio" href="../Index.html" target="_self">VOLVER A INICIO</a>

            <h1 id="ins"><strong>EL FUTURO EN TUS MANOS</strong></h1>
        </section>
        <div class="intro-admisiones">
            <h2 id="titulo-paginas-hijas">Escuela San Jorge</h2>
            <div>
                <p>Estimadas familias,</p>
                <p>Nos complace anunciar que las solicitudes para el ingreso a nuestra Escuela, para el año escolar
                    2025, están
                    oficialmente abiertas en ambos niveles: Primario y Secundario.</p>
                <p>La escuela encara este proceso con mucho esfuerzo, dedicación y cariño. Dicho esto, le agradecemos
                    de antemano su paciencia durante dicho plazo.</p>
            </div>
            <div>
                <h3><strong>Proceso de Admisión - Pasos a seguir:</strong></h3>
                <ol>
                    <li>Los aspirantes deberán completar el siguiente Formulario de
                        Inscripción
                        online:<a class="submit-button-contact" href="form-admisiones.html"
                            target="_self">Formulario</a>
                    </li>
                    <li value="2">Luego de completar el formulario, las familias serán contactadas por correo
                        electrónico para
                        concretar una entrevista que tendrá lugar en el colegio. Dicho encuentro tendrá por objetivo
                        brindar la información general sobre el Proyecto Educativo Institucional y, en especial, conocer
                        a las nuevas familias postulantes.
                    </li>
                    <li value="3">Los aspirantes a ingresar deberán aprobar una evaluación de nivel de <span>Inglés,
                            Lengua y Matemática</span>.
                    </li>
                </ol>
            </div>
            <div>
                <h3><strong>Proceso de Inscripción:</strong></h3>
                <p>Finalizada la etapa anterior y admitido el ingreso, se inicia el proceso de inscripción que consiste
                    en la presentación de la documentación y de la cumplimentación de trámites administrativos.
                </p>
                <h4>Documentación a presentar:</h4>
                <p>Para completar la inscripción, la familia deberá presentar la siguiente documentación :
                </p>
                <ul id="documentacion">
                    <li>Fotocopia de frente y reverso del DNI</li>
                    <li>Fotocopia de la Partida de Nacimiento
                    </li>
                    <li>Certificado de Vacunas actualizado
                    </li>
                    <li>Ficha médica (otorgada previamente por el Colegio)
                    </li>
                    <li>Fotocopia del informe final del Colegio de donde proviene.
                    </li>
                    <li>Constancia de libre deuda del Colegio de donde proviene
                    </li>
                </ul>
                <h4>Trámites administrativos:
                </h4>
                <p>Una vez autorizada la inscripción, se deberá abonar la matrícula y los aranceles correspondientes.
                </p>
            </div>
        </div>

    </main>
    <footer>
        <p><b>Este sitio constituye el trabajo práctico del grupo 1, comisión 24187 correspondiente al curso fullstack
                web en
                python, del
                programa
                Codo a Codo.</b></p>
        <p><b>Autores: Victoria Vázquez Freire, Gonzalo Talavera y Edgardo Emiliano Acosta Villegas.</b></p>
        <p><b>Argentina 2024</b></p>
    </footer>
    <script src="../javascript/javascript.js"></script>
</body>

</html>