<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/campus.css">
    <title>Alumnos - Escuela San Jorge</title>
</head>

<body>
    <header>
        <h1>Alumnos</h1>
        <a href="campusvirtual.html" id="volver">Volver atrás</a>
    </header>

    <div class="seccion-alumno">
        <section class=seccion-tabla>
            <h3>Gonzalo Talavera</h3>
            <h2>Año:</h2>
            <select name="años">
                <option value="año-1">1er año</option>
                <option value="año-2">2do año</option>
                <option value="año-3">3er año</option>
                <option value="año-4">4to año</option>
                <option value="año-5">5to año</option>
                <option value="año-6">6to año</option>
            </select>

            <div class="seccion-tabla">
                <div class="tabla-padre">
                    <table class="tabla-alumno" id="tabla-notas">
                        <tr>
                            <th rowspan="2">Materias</th>
                            <th colspan="4">Primer Cuatrimestre</th>
                            <th colspan="4">Segundo Cuatrimestre</th>
                        </tr>
                        <tr>
                            <th>1º</th>
                            <th>2º</th>
                            <th>3º</th>
                            <th>Promedio</th>
                            <th>1º</th>
                            <th>2º</th>
                            <th>3º</th>
                            <th>Promedio</th>
                        </tr>
                        <tr>
                            <td>Lengua y Literatuta</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>2</td>
                            <td>6</td>
                            <td>8</td>
                            <td>7</td>
                            <td> 7</td>
                        </tr>
                        <tr>
                            <td>Matemáticas</td>
                            <td>3</td>
                            <td>1</td>
                            <td></td>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Historia</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Geofrafía</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Biología</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Física y Química</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Educación Tecnológica</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Artes Visuales</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Música</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Educacion Física</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Inglés</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Formación Ética y Ciudadana</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </div>
</body>

</html>