<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../css/campus.css">
    <title>Campus virtual, docentes - Escuela San Jorge</title>
</head>

<body>
    <header>
        <h1>CAMPUS VIRTUAL</h1>
    </header>

    <fieldset class="fprofesores">
        <legend>Docentes, cargas</legend>
        <section>
            <div class="grillad">
                <div class="docentes">
                    <h2>Notas</h2>
                    <a class="btnd" href="carganotas.html">Notas</a>
                    <p>Seleccione éste botón para poder cargar las notas a los alumnos.</p>
                </div>
                <div class="docentes">
                    <h2>Inasistencias</h2>
                    <a class="btnd" href="cargarinasistencias.html">Inasistencias</a>
                    <p>Seleccione éste botón para poder cargar las inasistencias.</p>
                </div>
                <div class="docentes" id="vuelta">
                    <h2>Volver</h2>
                    <a class="btnd" href="../Index.html">Volver</a>
                    <p>Seleccione éste botón para volver a la página principal.</p>
                </div>
            </div>
        </section>
    </fieldset>

</body>

</html>