<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/campus.css">
    <title>Cargar notas - Escuela San Jorge</title>
</head>
<body>
    <header>
        <h1>Carga de notas</h1>
        <a href="campusvirtualdocentes.html" id="volver">Volver atrás</a>
    </header>
<div>
    <div class="carga-nota">
        <fieldset class="cargarnotas">
            <legend>Cargar notas</legend>

            <form action="#">
                <label for="alumnos">Alumnos:</label>
                <select id="alumnos"> 
                    <option value="selacciona">Selecciona un alumno</option>
                    <option value="alumno-1">Talavera Gonzalo</option>
                    <option value="Alumno-2">Victoria Vázquez Freire</option>
                    <option value="Alumno-3">Edgardo Emiliano Acosta Villegas</option>
                </select>
            </form>
            
            <form action="#">
                <label for="materias">Materias:</label>
                <select id="materias">
                    <option value="selacciona">Selecciona una materia</option>
                    <option value="lenguayliteratura">Lengua y Literatura</option>
                    <option value="matematicas">Matemáticas</option>
                    <option value="historia">Historia</option>
                    <option value="geografia">Geografía</option>
                    <option value="biologia">Biología</option>
                    <option value="fisicayquimica">Física y Química</option>
                    <option value="educaciontecnologica">Educación Tecnológica</option>
                    <option value="artesvisuales">Artes Visuales</option>
                    <option value="musica">Música</option>
                    <option value="educacionfisica">Educación Física</option>
                    <option value="ingles">Inglés</option>
                    <option value="formacioneticayciudadana">Formación Ética y Ciudadana</option>
                </select>
            </form>
                <label>Nota materia:</label>
                <input type="text" id="lnota" name="lnota">
                <div class="error" id="error-lnota"></div>
                <button class="enviar">Enviar</button>
        </fieldset>
    </div>       
    <div class="seccion-tabla">
        <div class="tabla-padre">
            <table class="tabla-alumno" id="tabla-notas">
                <tr>
                    <th rowspan="2">Materias</th>
                    <th colspan="4">Primer Cuatrimestre</th>
                    <th colspan="4">Segundo Cuatrimestre</th>
                </tr>
                <tr>
                    <th>1º</th>
                    <th>2º</th>
                    <th>3º</th>
                    <th>Promedio</th>
                    <th>1º</th>
                    <th>2º</th>
                    <th>3º</th>
                    <th>Promedio</th>
                </tr>                
                <tr>
                    <td>Lengua y Literatuta</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Matemáticas</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Historia</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Geofrafía</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Biología</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Física y Química</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Educación Tecnológica</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Artes Visuales</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Música</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Educación Física</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Inglés</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Formación Ética y Ciudadana</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>
    
</body>
</html>