<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">
        
    <link rel="stylesheet" href="../css/campus.css">
    <title>Inasistencias - Escuela San Jorge</title>
</head>
<body>
    <h1>Inasistencias</h1>
    <a href="campusvirtual.html" id="volver">Volver atrás</a>
    <section class="seccion-alumno"><h3>Gonzalo Talavera</h3>
        <h2>Año:</h2>
        <select name="años">
            <option value="año-1">1er año</option>
            <option value="año-2">2do año</option>
            <option value="año-3">3er año</option>
            <option value="año-4">4to año</option>
            <option value="año-5">5to año</option>
            <option value="año-6">6to año</option>
        </select>
    
        <div class="tabla-padre">
            <table>
                <tr>
                    <th>Cantidad</th>
                    <th>Año</th>
                    <th>Tipo</th>
                    <th>Fecha</th>
                    <th>Justificada</th>
                    <th>Colegio</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2024</td>
                    <td>Completa</td>
                    <td>25/03/2024</td>
                    <td>NO</td>
                    <td>Primario</td>
                </tr>
                <tr>
                    <td>0.5</td>
                    <td>2024</td>
                    <td>Media</td>
                    <td>05/04/2024</td>
                    <td>NO</td>
                    <td>Primario</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2024</td>
                    <td>Completa</td>
                    <td>26/04/2024</td>
                    <td>SI</td>
                    <td>Primario</td>
                </tr>
            </table>
        </div>
    </section>

</body>
</html>