<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">    
        <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../css/campus.css">
        <title>Login alumno - Escuela San Jorge</title>
    </head>

    <body class="loginalumno">
        <div class="login-container">
            <form id="login-form">
                <input type="text" id="usuario" placeholder="Usuario, ingrese al menos un caracter">
                <input type="password" id="clave" placeholder="Contraseña, ingrese al menos un caracter">
                <input type="button" id="entrar" value="Entrar" onclick="loguear()">
                <input type="button" value="Cancelar" onclick="window.close();">
            </form>
        </div>
        <script src="../javascript/javascript.js"></script>
    </body>

</html>


